/* Общие стили для кнопки */
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    position: relative;
    width: 358px;
    height: 50px;
    border-radius: 12px;
    font-family: 'SF Pro', sans-serif;
    font-style: normal;
    font-weight: 590;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.43px;
    border: none;
    cursor: pointer;
}

/* Стили для доступной кнопки */
.button.available {
    background: #F2F2F2;
    color: #333333;
}

/* Стили для выключенной кнопки */
.button.disabled {
    background: #828282;
    color: #E0E0E0;
    cursor: not-allowed;
}
