.rocket-status {
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.rocket-status h2 {
    margin: 0;
    font-size: 1.5em;
}

.rocket-status p {
    margin: 1px 0 20px;
    color: #828282;
    font-weight: 400;
    font-size: 14px;
}

.status-item {
    margin-bottom: 15px;
}

.status-item span {
    display: block;
    font-size: 0.9em;
}

.status-item span:last-child {
    margin-top: 5px;
    font-weight: bold;
}
