.rocket-status {
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}

.rocket-status h2 {
    margin: 0;
    font-size: 30px;
}

.rocket-status p {
    margin: 1px 0 20px;
    color: #828282;
    font-weight: 300;
    font-size: 14px;
}

.status-item {
    margin-bottom: 15px;
}

.status-item span {
    display: block;
    font-size: 0.9em;
}

.status-item span:last-child {
    margin-top: 5px;
    font-weight: bold;
}

.status-item-block {
    overflow: hidden;
    margin-bottom: 12px;
}

.status-item-text-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.status-item-text-label {
    color: #828282;
    font-size: 14px;
    height: 20px;
}

.rocket-image {
    margin-top: 20px;
    width: 100%;
}

.gif-animation {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Чтобы клики проходили через .gif */
}
