.profile-card {
    display: flex;
    align-items: center;
    background-color: #000; /* Черный фон */
    padding: 10px;
    border-radius: 10px;
    color: #fff; /* Белый цвет текста */
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    flex-grow: 1;
}

.name {
    font-size: 1.2em;
}

.level {
    color: #aaa; /* Светло-серый цвет для уровня */
}

.balance {
    text-align: right;
    color: #007bff; /* Синий цвет для баланса */
}

.balance-text {
    color: #aaa; /* Светло-серый цвет для подписи "Баланс" */
    font-size: 0.8em;
}
